<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include("./partials/head.ejs") %>
    <title>Edit Pokemon</title>
</head>
<body>
    <nav class="navbar bg-light">
        <div class="container-fluid">
          <h1 class="display-1">Pokedex</h1>
          <a class="btn btn-outline-success" href="/pokemons/new">Add New Pokemon</a>
          <a class="btn btn-outline-info" href="/pokemons">Back</a>
        </div>
      </nav>

    <div class="container">
        <h1 class="display-1">Update <%=pokemon.name %> </h1>
        <form class="d-flex flex-column" action="/pokemons" method="POST">
            <div class="justify-content-center">
                <div class="pokeId">
                    <h2 class="display-6">ID</h2>
                    <input class="" type="text" placeholder="Pokemon ID" name="pokemon.id">
                </div>

                <div class="pokeName">
                    <h2 class="display-6">Name</h2>
                    <input class="u-full-width" type="text" placeholder="Pokemon Name" name="pokemon.name">
                </div>
                  
                <div class="pokeType">
                    <h2 class="display-6">Type</h2>
                    <input class="u-full-width" type="text" placeholder="Pokemon Type 1" name="pokemon.type[0]">
                    <input class="u-full-width" type="text" placeholder="Pokemon Type 2" name="pokemon.type[1]">
                </div>
                    
                <div class="pokeStats">
                    <h2 class="display-6">Stats</h2>
                    <input class="u-full-width" type="text" placeholder="HP" name="pokemon.stats.hp">
            
                    <input class="u-full-width" type="text" placeholder="Attack" name="pokemon.stats.attack">
               
                    <input class="u-full-width" type="text" placeholder="Defense" name="pokemon.stats.defense">
               
                    <input class="u-full-width" type="text" placeholder="SPAttack" name="pokemon.stats.spattack">
                    <input class="u-full-width" type="text" placeholder="SP Defense" name="pokemon.stats.spdefense">
                    <input class="u-full-width" type="text" placeholder="Speed" name="pokemon.stats.speed">
                </div>  
            </div>
            <input class="btn btn-outline-success mt-3" type="submit" value="UPDATE <%=pokemon.name %> ">
        </form>
    </div>
</body>
</html>